{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<h1>Question {{num}}</h1>

<p>{{q.question}}</p>

<form action="/answer/{{num}}" method="post">
    {% for choice in q.choices %}
    <label for="{{choice}}">{{choice}}</label>
    <input type="radio" name="{{choice}}" id="{{choice}}">
    {% endfor %}
    <button type="submit">Submit Answer</button>
</form>

{% endblock %}